/* #region Common rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion Common rules */

.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.row{
    display: flex;
}

.col-1{
    width: calc( (100% / 12) * 1);
}

.col-5{
    width: calc( (100% / 12) * 5);
}


